body {
    margin: 0;
    background-color: #30A9D8;
}
#sun {
    position: absolute;

    height: 10vw;
    width: 10vw;
    background-color: #fbe8a6;
    border-radius: 100%;

    top: calc(5vw + 5vh);
    left: 10vw;
}
#surface {
    position: relative;
    height: 90vh;
    background-color: #B7F9F7;
    overflow: visible;
}
#profondeurs {
    position: relative;
    background-color: #4BCEEC;
    /* border: 1px solid red; */
}
#iceberg {
    position: absolute;
    width: 30%;

    bottom: -26vw;
    right: 15vw;
    z-index: 10;
}
#shadow {
    position: absolute;
    width: 16vw;

    top: 90vh;
    left: 7vw;
    z-index: 5;
}
#sea_layer1 {
    width: 100vw;
    height: 5vw;
    background-color: #59DBF1;

    top: 90vh;
}
#sea_layer2 {
    width: 100vw;
    height: 10vw;
    background-color: #4BCEEC;
    top: 90vh;
}

svg {
    position: absolute;
    top: 65vh;
    left: 25vw;
}


.fishes {
    position: absolute;
    top: 60vh;
    left: 15vw;
}

.jellyfish {
    position: absolute;
    top: 130vh;
    left: 40vw;
}

#rocher1 {
    position: absolute;
    top: 70vh;
    left: 0;
}

#rocher2 {
    position: absolute;
    top: 70vh;
    right: 0;
}
/* 
#rocher3 {
    position: absolute;
    bottom: 0;
    right: 0;
} */
